RewriteEngine On

RewriteBase /kassenbuch/
RewriteRule ^file/(.+)$                             data/$1.php [L]
RewriteRule ^model/(\w+)$                           data/backbone.php?class=$1 [QSA,L]
RewriteRule ^model/(\w+)/([0-9a-zA-Z]*)$            data/backbone.php?class=$1&id=$2 [QSA,L]
RewriteRule ^model/(\w+)?id=([0-9a-zA-Z]*)$         data/backbone.php?class=$1&id=$2 [QSA,L]
RewriteRule ^collection/(\w+)$                      data/backbone.php?class=$1 [QSA,L]
RewriteRule ^collection/(\w+)/([0-9a-zA-Z]*)$       data/backbone.php?class=$1&id=$2 [QSA,L]
RewriteRule ^collection/(\w+)?id=([0-9a-zA-Z]*)$    data/backbone.php?class=$1&id=$2 [QSA,L]
